<button type="button" class="btn btn-primary" data-bs-toggle="modal"
data-bs-target="#staticBackdrop"
(click)="addClick()"
data-bs-backdrop="static" data-bs-keyboard="false"
>
  Add Department
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{ModalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
        aria-label="Close" (click)="closeClick()"></button>
      </div>
      <div class="modal-body">
       <app-add-edit-dep  *ngIf="ActivatedAddEidtDepComp"></app-add-edit-dep>
      </div>

    </div>
  </div>
</div>




<table class="table table-striped">
  <thead>
    <th>DepartmentId</th>
    <th>Department Name</th>
    <th>Options</th>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of DepartmentList">
      <td>{{dataItem.DepartmentId}}</td>
      <td>{{dataItem.DepartmentName}}</td>
      <td>
        <button type="button" class="btn btn-light mr-1">Edit</button>
        <button type="button" class="btn btn-light mr-1">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
